.root {
  display: flex;
  height: 100%;
}
.sortStars {
  font-size: 22px;
  max-width: 300px;
  box-shadow: 0px 0px 1px rgb(0, 0, 0);
  padding: 20px;
  height: 100%;
  div {
    &:nth-of-type(1) {
      div {
        margin-bottom: 15px;
      }
    }
    &:nth-of-type(2) {
      margin-top: 15px;
      font-size: 16px;
      display: flex;
      flex-direction: column;
      div {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        max-width: 200px;
      }
    }
  }
}
.feedback {
  max-width: 700px;
  width: 100%;
  height: max-content;
  margin: 0 auto;
  padding: 7px;
  box-shadow: 0px 0px 1px rgb(0, 0, 0);
  div {

    &:nth-of-type(1) {
      display: flex;
      align-items: center;
      span:nth-of-type(1) {
        margin-right: 10px;
      }
    }
    &:nth-of-type(2) {
      font-size: 15px;
      margin: 5px 0;
    }
    &:nth-of-type(3) {
      display: flex;
      align-items: center;
      justify-content: space-between;
      span {
        &:nth-of-type(2) {
          display: flex;
        }
      }
      button {
        width: 48px;
        height: 33px;
        border: none;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        &:nth-of-type(1) {
          img {
            transform: rotate(180deg);
          }
        }
        img {
          max-width: 100%;
          margin: 0 8px;
        }
        span {
          font-size: 13px;
        }
      }
    }
  }
}
