$maxWTable: 1000px;
$maxWPhone: 574px;

.root {
  display: flex;
  height: 100%;
  & > div {
    &:nth-of-type(2) {
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: baseline;
      flex-direction: column;
      overflow: auto;
      background-color: rgba(0, 0, 0, 0.055);
      @media (max-width: $maxWPhone) {
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0.055);
        min-height: 400px;
        max-height: 400px;
        overflow-y: scroll;
      }
    }
  }
  @media (max-width: $maxWPhone) {
    flex-direction: column;
    height: max-content;
  }
}
.sortStars {
  font-size: 22px;
  max-width: 300px;
  box-shadow: 0px 0px 1px rgb(0, 0, 0);
  padding: 20px;
  height: 100%;
  div {
    &:nth-of-type(1) {
      div {
        margin-bottom: 15px;
      }
    }
    &:nth-of-type(2) {
      margin-top: 15px;
      font-size: 16px;
      display: flex;
      flex-direction: column;
      div {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        max-width: 200px;
      }
    }
  }
  @media (max-width: $maxWPhone) {
    width: 100%;
    max-width: 500px;
  }
}
