$maxWTable: 1000px;
$maxWPhone: 574px;

.root {
  display: flex;
  margin: 40px 0;
  position: relative;
}

.wrapper {
  width: calc(100% - 300px);
  background-color: rgb(252, 251, 251);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.439);
  border-radius: 20px;
  padding: 5px;
  height: max-content;
  @media (max-width: $maxWTable) {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, 170px);
    grid-auto-rows: auto;
    row-gap: 30px;
  }
  @media (max-width: $maxWPhone) {
    grid-template-columns: repeat(2, 1fr);
  }
}
.map {
  height: max-content;
  padding: 60px 0px;
  width: 100%;
  margin: 80px auto;
  background-color: rgb(247, 247, 247);
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 20px;
  & > div {
    &:nth-of-type(1) {
      display: table-cell;
      text-align: center;
      vertical-align: middle;
      padding: 0 20px;
      & div:nth-of-type(1) {
        font-size: 25px;
        margin: 0 20px;
        width: 100%;
      }
    }
    &:nth-of-type(2) {
      max-width: 800px;
      max-height: 500px;
      width: 100%;
      height: 100%;
      padding: 20px;
    }
  }
  input[type="text"] {
    margin: 20px 0;
    border: none;
    background-color: rgb(250, 250, 250);
    padding: 10px;
    max-width: 600px;
    width: 100%;
    border-radius: 20px;
    border: #ff00d978 solid 1px;
    &:focus {
      outline: none;
    }
    @media (max-width: $maxWTable) {
      max-width: 500px;
    }
  }
  iframe {
    width: 100%;
    height: inherit;
    border: none;
    @media (max-width: $maxWTable) {
      height: 300px;
      padding: 0 20px;
    }
  }
  @media (max-width: $maxWTable) {
    flex-direction: column;
  }
}
.button {
  max-width: 300px;
  margin: 0 auto;
}

.emptyCart {
  height: calc(100vh - 360px);
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 30px;
  padding-top: 150px;
  background-color: rgba(0, 0, 0, 0.06);
  border-radius: 30px;
  margin: 20px 0;
}

.cardRoot {
  height: max-content;
  @media (min-width: $maxWTable) {
    max-width: 100%;
    width: 100%;
    display: flex;
    max-height: 200px;
    align-items: center;
    img {
      max-height: 100px;
    }
    div {
      padding: 0 6px;
    }
    & > span {
      top: 3px;
      left: 3px;
      font-size: 11px;
    }
  }
  @media (max-width: $maxWTable) {
    & > span {
      font-size: 12px;
    }
  }
}
.cardFavorite {
  top: calc(0% + 13px);

  @media (min-width: $maxWTable) {
    top: 3px;
    left: 100px;
    width: 20px;
  }
}
.cardTitle {
  @media (min-width: $maxWTable) {
    display: flex;
    max-width: 280px;
    height: inherit;
    min-height: inherit;
  }
}
.cardButton {
  @media (min-width: $maxWTable) {
    margin-left: auto;
    margin-right: 40px;
  }
}
.cardPrice {
  @media (min-width: $maxWTable) {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 35px auto 0;
    min-width: 110px;
  }
}
