form {
  display: flex;
  flex-direction: column;
  align-items: center;
  & > span {
    font-size: 20px;
    margin: 5px 0;
    color: #ff00d9;
  }
  & > div {
    margin: 10px 0px;
    width: 100%;
    & > span {
      font-size: 14px;
      color: red;
      padding: 0 10px;
      height: min-content;
      display: block;
      ul {
        margin: 0;
        padding: 0px 7px;
        height: min-content;
        li {
          margin: 0;
          list-style-type: none;
          font-size: 12.5px;
          &.active {
            color: rgb(0, 171, 0);
          }
        }
      }
    }
  }

  button {
    width: 150px;
    border: none;
    color: rgb(8, 45, 194);
    margin: 5px 0;
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    &:last-of-type {
      margin: 0;
      width: 150px;
      padding: 10px 15px;
      height: 40px;
      border: none;
      border-radius: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #fff;
      background-color: #ff00d9;
      cursor: pointer;
    }
  }
}
