$maxWTable: 1000px;
$maxWPhone: 574px;

.root {
  max-width: inherit;
  width: inherit;
  margin: inherit;
  height: inherit;
  font-size: inherit;
  margin: 0;
  padding: 0;
  div {
    width: 100%;
    height: inherit;
    display: flex;
    align-items: center;
    border: #ff00d9 2px solid;
    border-radius: 40px;
    font-size: inherit;
  }
  input {
    height: calc(100% - 5px);
    border: none;
    display: block;
    width: 100%;
    caret-color: #ff00d9;
    border-radius: inherit;
    padding-left: 20px;
    padding-right: 5px;
    font-size: inherit;

    &:focus {
      outline: none;
    }
  }
  button {
    color: #fff;
    display: block;
    width: auto;
    height: inherit;
    padding: 0 20px;
    background-color: #ff00d9;
    border: none;
    border-radius: inherit;
    cursor: pointer;
    font-size: inherit;
  }
}
