$maxWTable: 1000px;
$maxWPhone: 574px;

.root {
  max-width: inherit;
  width: inherit;
  margin: inherit;
  height: inherit;
  font-size: inherit;
  margin: 0;
  padding: 0;
  position: relative;
  & > div {
    &:nth-of-type(1) {
      width: 100%;
      height: inherit;
      display: flex;
      align-items: center;
      border: #ff00d9 2px solid;
      border-radius: 40px;
      font-size: inherit;
    }
    &:nth-of-type(2) {
      width: 100%;
      border: #00000016 2px solid;
      padding: 10px 10px;
      height: max-content;
      max-height: 350px;
      overflow-x: hidden;
      overflow-y: auto;
      z-index: 50;
      background-color: #fff;
      position: absolute;
      cursor: pointer;
      div {
        &:hover {
          color: #ff00d9;
        }
        @media (max-width: $maxWPhone) {
          padding: 2px 0px;
        }
      }

    }
  }
  input {
    height: calc(100% - 5px);
    border: none;
    display: block;
    width: 100%;
    caret-color: #ff00d9;
    border-radius: inherit;
    padding-left: 20px;
    padding-right: 5px;
    font-size: inherit;

    &:focus {
      outline: none;
    }
  }
  button {
    color: #fff;
    display: block;
    width: auto;
    height: inherit;
    padding: 0 20px;
    background-color: #ff00d9;
    border: none;
    border-radius: inherit;
    cursor: pointer;
    font-size: inherit;
  }
}
