$maxWTable: 1000px;
$maxWPhone: 600px;

.button {
  border-radius: 10%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 80px;
  background-color: rgba(16, 16, 16, 0.1);
  font-size: 25px;
  top: calc(50% - 40px);
  z-index: 1;
  cursor: pointer;
  $boxSdwClr: 0px 0px 2px #ff00d9;
  -webkit-box-shadow: $boxSdwClr;
  -moz-box-shadow: $boxSdwClr;
  box-shadow: $boxSdwClr;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  @media (max-width: $maxWTable) {
    display: none;
  }
  &:hover {
    background-color: #ff00d95f;
    color: #fff;
  }
}