.root {
  display: none;
  position: absolute;
  height: 100%;
  overflow: auto;
  top: 70px;
  z-index: 20;
  background-color: rgb(255, 255, 255);
  border: 5px solid #000;
  &.active {
    display: block;
  }
}
.container {
  display: flex;
}
.dropBlock {
  width: 150px;
  ul {
    list-style-type: none;
    margin: 0;
  }
}