$maxWTable: 1000px;
$maxWPhone: 574px;

.wrapper {
  height: inherit;
  overflow: hidden;
}
.thumbnail {
  margin-right: 5px;
  height: inherit;
  position: relative;
  z-index: 5;
  overflow: hidden;

  & > div {
    height: inherit;
    transition: all 0.3s ease;

    div {
      width: calc(350px / 3);
      padding: 2px;
      &.active {
        padding: 0px;
        border: 2px solid #ff00d9;
      }
    }
  }
  img {
    width: 100%;
  }
  span {
    color: rgb(252, 78, 200);
    font-weight: 700;
    position: absolute;
    z-index: 5;
    display: block;
    left: 30%;
    cursor: pointer;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    &:nth-of-type(1) {
      top: 0px;
    }
    &:nth-of-type(2) {
      bottom: 5px;
    }
  }
  @media (max-width: $maxWPhone) {
    position: absolute;
    transform: translateX(-200px);
    transition: all ease 0.5s;

    &.active {
      display: block;
      transform: translateX(0px);
    }
  }
}
.original {
  width: 350px;
  overflow: hidden;
  position: relative;
  span {
    position: absolute;
    transform: translate(0);
    color: #ff00d9;
    font-size: 30px;
    transition: all ease 0.5s;
    top: 0px;
    left: 0;
    z-index: 50;
    &.active {
      transform: translate(116px);
    }
  }
  & > div {
    transition: all 0.5s ease;
    height: inherit;
    display: flex;
  }
  img {
    width: 350px;
    height: inherit;
  }

}
