.root {
  display: flex;
  margin-top: 20px;
  height: 90vh;
}
.categories {
  width: 400px;
  & > div:nth-of-type(1) {
    width: 230px;
    div {
      width: auto;
      display: flex;
      align-items: center;
      max-width: 230px;
      &:nth-of-type(2) {
        position: relative;
        height: 25px;
      }
    }
  }
  ul {
    margin: 0px;
    padding-left: 12px;
    list-style-type: none;
  }
  li {
    margin-left: 10px;
    div {
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 150px;
      .active{
        color: rgb(204, 0, 174);
      }
      &:nth-of-type(2) {
        height: 25px;
        position: relative;
      }
    }
  }
  span {
    width: 16px;
    height: 16px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    &:nth-of-type(1) {
      margin-left: 5px;
    }
  }
  input {
    height: inherit;
    width: calc(100%);
    padding: 5px;
  }
  button {
    height: inherit;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 100%;
  }
  img {
    height: inherit;
    max-width: 100%;
  }
}

.product {
  width: 100%;
  div {
    position: relative;
    width: 100%;
  }
}
