$maxWTable: 1000px;
$maxWPhone: 600px;

.wrapper {
  margin: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
}
.container {
  max-width: 1420px;
  padding: 0 20px;
  margin: 0 auto;
  height: 100%;
  @media (max-width: $maxWTable) {
    max-width: 1000px;
    padding: 0 10px;
  }
  @media (max-width: $maxWPhone) {
    max-width: 600px;
  }
}

