$size: 100%;
$maxWTable: 1000px;
$maxWPhone: 600px;

.root {
  max-width: 300px;
  width: $size;
  height: $size;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  transition: transform ease 0.8s;

  $gradient: 45deg, rgb(234, 5, 197), rgb(73, 53, 247), rgb(196, 0, 242);
  background: -webkit-linear-gradient($gradient);
  background: -moz-linear-gradient($gradient);
  background: linear-gradient($gradient);

  @media (max-width: $maxWTable) {
    max-width: 500px;
    height: 150px;
    padding: 0 20px;
  }
  @media (max-width: $maxWPhone) {
    height: 90px;
  }
  &:hover {
    transition: transform ease 0.8s;
    transform: translateY(-20px);
  }

  img {
    max-width: 100%;
    @media (max-width: $maxWTable) {
      height: inherit;
    }
    @media (max-width: $maxWPhone) {
      height: 80px;
    }
  }
  a {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    text-decoration: none;
    color: #fff;
    width: inherit;
    height: inherit;
    @media (max-width: $maxWTable) {
      flex-direction: row;
      // justify-content: end;
    }
  }
  span {
    position: absolute;
    font-size: 20px;
    bottom: 5%;
    @media (max-width: $maxWTable) {
      position:static;
      max-width: 40%;
    }
    @media (max-width: $maxWPhone) {
      font-size: .75rem;;
    }
  }
}
